.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-logo {
  width: 50px;
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
}

.App-main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*noinspection ALL*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
  text-align: left;
  background-color: RGBA(0%, 0%, 0%, 0.3);
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  box-shadow: black inset 2px 2px 15px;
  text-shadow: crimson 5px 3px 0;
  border-top: solid 3px darkslateblue;
  border-bottom: solid 3px crimson;
}

a {
  color: crimson;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
