.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
    float: right;
    margin-top: -108px;
}

.App-main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: RGBA(0%, 0%, 0%, 0.3);
    border-radius: 30px;
}

/*noinspection ALL*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    min-height: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
    text-align: left;
    background-color: RGBA(0%, 0%, 0%, 0.3);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    box-shadow: black inset 2px 2px 15px;
    text-shadow: crimson 5px 3px 0;
    border-top: solid 10px darkslateblue;
    border-bottom: solid 10px crimson;
    margin-bottom: 100px;
}

a {
    color: crimson;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
